/* -------------------- GLOBAL STYLES -------------------- */

html {
	min-width: 960px;
}

body {
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
	background: url(../images/body-bg.png) top left repeat-x;
}

h1 {
	text-indent: -9999px;
	display: inline;
	overflow: hidden;
}

a {
	text-decoration: none;
}

/* -------------------- CONTAINER -------------------- */

.container {
	background: url(../images/body-bg.png) top left repeat-x;
	width: 960px;
	-moz-box-shadow: 0 0 3px 3px #CCC;
	-webkit-box-shadow: 0 0 3px 3px #CCC;
	box-shadow: 0 0 3px 3px #CCC;
	-moz-border-bottom-left-radius: 18px;
	-moz-border-bottom-right-radius: 18px;
	-webkit-border-bottom-left-radius: 18px;
	-webkit-border-bottom-right-radius: 18px;
	-khtml-border-bottom-left-radius: 18px;
	-khtml-border-bottom-right-radius: 18px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	margin: auto;
}

/* -------------------- HEADER -------------------- */

.top {
	width: 100%;
	height: 89px;
}

.top img {
	margin: 12px 0 0 20px;
}

.slideshow {
	-moz-box-shadow: 0 0 2px 2px #426F86;
	-webkit-box-shadow: 0 0 2px 2px #426F86;
	box-shadow: 0 0 2px 2px #426F86;
	background: url(../images/slideshow-bg.png) top left no-repeat;
	background-size: 100%;
	height: 83px;
}

#nav {
	height: 32px;
	border-bottom: 1px solid #DDD;
}

#nav a {
	font-size: 0.9em;
	color: #555;
}

#nav a:hover {
	color: #8EB0C0;
}

#nav ul li {
	background: url(../images/line.png) center right no-repeat;
	padding: 8px 20px;
	float: left;
}

/* -------------------- MAINCONTENT -------------------- */

#maincontent {
	overflow: hidden;
}

.featured {
	background: url(../images/featured.png) top left no-repeat;
	width: 600px;
	height: 167px;
	margin: 50px 0 0 50px;
	float: left;
}

.featured h3,
.latest-news h3,
.categories h3 {
	font-size: 1.05em;
	color: #333;
	padding: 10px;
}
.featured p,
.latest-news p {
	font-size: 0.9em;
	color: #555;
	padding: 10px;
}

.latest-news {
	width: 600px;
	margin: 10px 0 30px 50px;
	float: left;
}

.new {
	text-align: justify;
	width: 240px;
	height: 200px;
	margin: 10px 29px;
	float: left;
}

.published {
	font: 0.71em "Helvetica Neue", "Helvetica", sans-serif;
	padding-left: 10px;
	display: block;
}

.categories {
	background: url(../images/categories.png) top left no-repeat;
	width: 198px;
	height: 513px;
	margin: 50px 50px 0 0;
	float: right;
}

.categories h3 {
	font: 1.6em "Calibri", "Arial", sans-serif;
	color: #176E86;
	padding-left: 38px;
}

.categories ul li {
	font-size: 0.9em;
	text-align: center;
	margin-bottom: 8px;
}

.categories a {
	color: #777;
}

.categories a:hover {
	text-decoration: underline;
}

/* -------------------- FOOTER -------------------- */

#footer {
	background: #07182A;
	width: 966px;
	height: 100px;
	-moz-border-top-left-radius: 18px;
	-moz-border-top-right-radius: 18px;
	-webkit-border-top-left-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	-khtml-border-top-left-radius: 18px;
	-khtml-border-top-right-radius: 18px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	margin: auto;
	margin-top: 20px;
}

.box {
	font-size: 0.78em;
	line-height: 14px;
	color: #FFFFFF;
	width: 280px;
	height: 65px;
	margin: 8px 20px 0 20px;
	float: left;
}

.box.center {
	text-align: center;
}

.box.right {
	text-align: right;
}

span.tel {
	color: #5397AB;
}

.email {
	color: #FFF;
}

/* -------------------- CLEARFIX -------------------- */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}